<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.rapidpm.httpcomponents">
  <resources>
    <resource-root path="httpclient-4.1.1.jar"/>
    <resource-root path="httpclient-cache-4.1.1.jar"/>
    <resource-root path="httpcore-4.1.jar"/>
    <resource-root path="httpmime-4.1.1.jar"/>
  </resources>
  <dependencies>
    <!-- <module name="org.rapidpm.moduleName"/> -->
  </dependencies>
</module>
