<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.rapidpm.vaadin">
  <resources>
    <resource-root path="vaadin-client-compiled-7.0.0.beta1.jar"/>
    <resource-root path="vaadin-server-7.0.0.beta1.jar"/>
    <resource-root path="vaadin-shared-7.0.0.beta1.jar"/>
    <resource-root path="vaadin-theme-compiler-7.0.0.beta1.jar"/>
    <resource-root path="vaadin-themes-7.0.0.beta1.jar"/>
  </resources>
  <dependencies>
    <!-- <module name="org.rapidpm.moduleName"/> -->
  </dependencies>
</module>
