<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.rapidpm.logger">
  <resources>
    <resource-root path="log4j-1.2.15.jar"/>
    <resource-root path="logkit-1.2.2.jar"/>
    <resource-root path="slf4j-api-1.4.3.jar"/>
    <resource-root path="slf4j-log4j12-1.4.3.jar"/>
  </resources>
  <dependencies>
    <!-- <module name="org.rapidpm.moduleName"/> -->
  </dependencies>
</module>
