<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>VaadinApplication</display-name>
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>

    <!--<listener>-->
        <!--<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>-->
    <!--</listener>-->

    <!--<filter>-->
        <!--<filter-name>ShiroFilter</filter-name>-->
        <!--<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>ShiroFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
        <!--<dispatcher>REQUEST</dispatcher>-->
        <!--<dispatcher>FORWARD</dispatcher>-->
        <!--<dispatcher>INCLUDE</dispatcher>-->
        <!--<dispatcher>ERROR</dispatcher>-->
    <!--</filter-mapping>-->

    <!--<session-config>-->
        <!--<session-timeout>30</session-timeout>-->
    <!--</session-config>-->

    <servlet>
        <servlet-name>BaseVaadin</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <!--<servlet-class>org.rapidpm.webapp.vaadin.BaseApplicationServlet</servlet-class>-->
        <init-param>
            <param-name>UI</param-name>
            <param-value>org.rapidpm.webapp.vaadin.MainUI</param-value>
            <!--<param-value>org.rapidpm.webapp.vaadin.MainApplication</param-value>-->
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>BaseVaadin</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BaseVaadin</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>


</web-app>
