<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.rapidpm.jfreechart">
  <resources>
    <resource-root path="iText-2.1.5.jar"/>
    <resource-root path="jcommon-1.0.16.jar"/>
    <resource-root path="jfreechart-1.0.13-experimental.jar"/>
    <resource-root path="jfreechart-1.0.13-swt.jar"/>
    <resource-root path="jfreechart-1.0.13.jar"/>
    <resource-root path="swtgraphics2d.jar"/>
  </resources>
  <dependencies>
    <!-- <module name="org.rapidpm.moduleName"/> -->
  </dependencies>
</module>
