<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.rapidpm.poi">
  <resources>
    <resource-root path="geronimo-stax-api_1.0_spec-1.0.jar"/>
    <resource-root path="poi-3.7-beta3-20100924.jar"/>
    <resource-root path="poi-contrib-3.7-beta3-20100924.jar"/>
    <resource-root path="poi-ooxml-3.7-beta3-20100924.jar"/>
    <resource-root path="poi-ooxml-schemas-3.7-beta3-20100924.jar"/>
    <resource-root path="poi-scratchpad-3.7-beta3-20100924.jar"/>
    <resource-root path="xmlbeans-2.3.0.jar"/>
  </resources>
  <dependencies>
    <!-- <module name="org.rapidpm.moduleName"/> -->
  </dependencies>
</module>
